# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.local

# VSCode settings (optional, if you use VSCode)
.vscode/

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build artifacts
build/
dist/
*.egg-info/

# Other IDEs (optional)
.idea/
*.sublime-workspace
*.sublime-project
